.component{
    background-image: url(../../assets/images/bg-5.jpg);
    padding: 160px 150px;
    display: flex;
    justify-content: flex-end;
}
.titles{
    width: 40%;
}
.sale{
    color: #dc0345;
    font-size: 30px;
    font-weight: 700;
}
.global{
    font-weight: 700;
    font-size: 50px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.btn{
    border: none;
    background-color: blue;
    padding: 17px 60px;
    font-size: 12px;
    font-weight: 600;
    color: #343131;
    margin-top: 50px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #dc0345;
}